<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.mapper.AdvertiserMapper">
    <select id="getAdvertiser" resultType="com.video.entity.Advertiser">
        select *
        from advertiser
    </select>
    <update id="updateAdvertiser">
        update advertiser
        set advertisement_id = #{advertisement_id}, advertiser_id = #{advertiser_id}, money = #{money}
        where advertiser_id=#{userId}
    </update>



</mapper>